global
 # setup logging and force level to debug. Logs require rsyslog be setup.
 log /dev/log local0 debug

 # maximum number of connections allowed
 maxconn 10000

frontend ft_web
  bind *:80 name web
  default_backend platform

backend platform
 balance roundrobin

 http-request set-header X-Forwarded-Port %[dst_port]
 http-request add-header X-Forwarded-Proto https if { ssl_fc }

 # configure platform instances
 server server0 ${server0}:80 check
 server server01 ${server1}:80 check
